body {
   
    background: linear-gradient(rgb(44, 44, 126), rgb(19, 19, 68));
    background: size 100%;;
   
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

#field {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form {
    border-radius: 10px;
}
#date{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 20%;
    letter-spacing: 2px ;
}
#date:hover{
    font-size: 20px;
    transition: 2s,2s;
    
}
#botao{
    background-color: darkorange;
    outline: none;
    font-size: 15px;
    width: 5rem;
    height: 2rem;
    
}
#img{
    padding-left: 160px;
}
#botao{
    border-radius: 10px;
    box-shadow: 10px;
}